// _components.overlay.scss

.c-overlay {
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  transition: background-color 500ms ease-in;
  pointer-events: none;
}

.c-overlay--hidden {
  background-color: transparent;
}
