// _components.drawer.scss

$drawer-width: 200px;
$drawer-width-narrow: 60px;

.c-drawer {
  z-index: 3;
  height: 100%;
  background-color: #eee;
  position: fixed;
  width: $drawer-width;
  top: 0;
  left: -$drawer-width;
  transition: all 500ms ease-in-out;
  border-right: 1px solid #ccc;
}

.c-drawer--visible {
  left: 0;
}

@include mq($from: md) {
  .c-drawer--visible\@md {
    left: 0;
  }
  .c-drawer--narrow\@md {
    width: $drawer-width-narrow;
    @include delayed-transition;
  }
}

@include mq($from: lg) {
  .c-drawer--wide\@lg {
    left: 0;
    width: $drawer-width;
    @include immediate-transition;
  }
}

.c-toggle {
  &--header {
    float: left;
  }
}

.c-toggle__link {
  &--header {

  }
}

.c-toggle__icon {
  &--header {

  }
}

@include mq($from: md) {
  .c-toggle--hidden\@md {
    display: none;
  }
}
