// _components.header.scss

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  width: 100%;
  transition: all 500ms ease-in-out;
  transition-delay: 100ms;
}

.c-header__title {
  margin-top: 0;
  float: left;
}

@include mq($from: md) {
  .c-header--wide\@md {
    margin-left: $drawer-width-narrow;
  }
}

@include mq($from: lg) {
  .c-header--narrow\@lg {
    margin-left: $drawer-width;
  }
}

@include mq($from: lg) {
  .c-header--wide\@lg {
    margin-left: $drawer-width-narrow;
  }
}
