// _components.view.scss

.c-view {
  margin-top: 50px;
  overflow: auto;
  height: 100%;
  transition: all 500ms ease-in-out;
  transition-delay: 100ms;
}

@include mq($from: md) {
  .c-view--wide\@md {
    margin-left: $drawer-width-narrow;
  }
}

@include mq($from: lg) {
  .c-view--narrow\@lg {
    margin-left: $drawer-width;
  }
}

@include mq($from: lg) {
  .c-view--wide\@lg {
    margin-left: $drawer-width-narrow;
  }
}
