// _components.nav.scss

.c-nav {
  overflow: auto;
  height: 100%;
  padding-bottom: 50px; // makes sure last nav items don't get cut off by overflow: auto on short screens
}

.c-nav__item {
  display: inline;
}

.c-nav__link {
  display: block;
  clear: both;
  padding: 10px 0 10px 10px;
}

.c-nav__icon {
  width: 20px;
  margin-right: 5px;
  display: block;
  float: left;
}


@mixin c-nav__text--hidden {
  height: 0;
  font-size: 0;
  overflow: hidden;
  opacity: 0;
}

@mixin c-nav__text--visible {
  height: 20px;
  font-size: 14px;
  overflow: hidden;
  opacity: 1;
}

@keyframes c-nav__text--in {
  0% {
    @include c-nav__text--hidden;
  }
  50% {
    height: 20px;
    font-size: 14px;
    overflow: hidden;
    opacity: 0;
  }
  100% {
    @include c-nav__text--visible;
  }
}

@keyframes c-nav__text--out {
  0% {
    @include c-nav__text--visible;
  }
  25% {
    height: 20px;
    font-size: 14px;
    overflow: hidden;
    opacity: 0;
  }
  100% {
    @include c-nav__text--hidden;
  }
}

// .c-nav__text--in {
//   animation-name: c-nav__text--in;
//   animation-duration: 1s;
// }

// .c-nav__text--out {
//   animation-name: c-nav__text--out;
//   animation-duration: 1s;
// }

.c-nav__text {
  @include c-nav__text--visible;
  display: block;
  float: left;
}

@include mq($from: md) {
  .c-drawer--narrow\@md {
    .c-nav__text {
      @include c-nav__text--hidden;
      animation-name: c-nav__text--out;
      animation-duration: 1s;
      animation-delay: 0s;
    }
    .c-subnav {
      opacity: 0;
      height: 0;
      font-size: 0;
      overflow: hidden;
    }
  }
}

@include mq($from: lg) {
  .c-drawer--wide\@lg {
    .c-nav__text {
      @include c-nav__text--visible;
      animation-name: c-nav__text--in;
      animation-duration: 1s;
      animation-delay: 1s;
    }
    .c-subnav {
      display: block;
    }
  }
  .c-drawer--narrow\@lg {
    .c-nav__text {
      @include c-nav__text--hidden;
      animation-name: c-nav__text--out;
      animation-duration: 1s;
      animation-delay: 0s;
    }
    .c-subnav {
      display: none;
    }
  }
}

.c-nav__divider {
  clear: both;
  display: block;
  height: 10px;
  border-bottom: 1px solid #ccc;
}

.c-subnav {
  clear: both;
}

.c-subnav__item {
  display: inline;
}

.c-subnav__link {
  display: block;
  font-size: 13px;
  padding: 5px 0 5px 40px;
}

.c-subnav__icon {

}

.c-subnav__text {

}

.c-subnav__divider {
  clear: both;
  display: block;
  height: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
