// _components.badges.scss

.c-badge {

}


@include mq($from: md) {
  .c-drawer--narrow\@md {
    .c-badge {
      display: none;
    }
  }
}

@include mq($from: lg) {
  .c-drawer--wide\@lg {
    .c-badge {
      display: inline-block;
    }
  }
  .c-drawer--narrow\@lg {
    .c-badge {
      display: none;
    }
  }
}

.c-badge--primary {

}

.c-badge--important {

}

.c-badge__icon {

}

.c-badge__link {
  background-color: #000;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  padding: 4px;
  display: inline-block;
  border-radius: 5px;
}
