// _components.nav.scss

.c-nav {
  overflow: auto;
  height: 100%;
}

.c-nav__item {

}

.c-nav__link {
  display: block;
  padding: 10px 0 10px 10px;
}

.c-nav__icon {

}

.c-nav__text {

}

.c-nav__divider {

}

.c-subnav {

}

.c-subnav__item {

}

.c-subnav__link {
  display: block;
  font-size: 13px;
  padding: 5px 0 5px 30px;
}

.c-subnav__icon {

}

.c-subnav__text {

}

.c-subnav__divider {

}
