// _components.view.scss

.c-view {
  margin-top: 50px;
  overflow: auto;
  height: 100%;
  width: 100%;
}

@include mq($from: md) {
  .c-view--wide\@md {
    margin-left: $drawer-width-narrow;
  }
}

@include mq($from: lg) {
  .c-view--narrow\@lg {
    margin-left: $drawer-width;
  }
}
