// main.scss

// bower:scss
// endbower

// #SETTINGS

// #TOOLS
$mq-breakpoints: (
  sm:  320px,
  md:  768px,
  lg: 1024px,
  xl: 1200px
);
@import "../bower_components/sass-mq/_mq";
$fa-font-path: "../bower_components/font-awesome/fonts/";
@import "../bower_components/font-awesome/scss/font-awesome.scss";

// #MIXINS

// #RESETS
@import "../bower_components/normalize-css/normalize";
@import "resets.box-sizing";
@import "resets.html";

// #ELEMENTS

// #OBJECTS
@import "objects.lists";

// #COMPONENTS
@import "components.drawer";
@import "components.nav";
@import "components.badges";
@import "components.header";

@import "components.overlay";

// #UTILITIES
@import "utilities.visibility";

// #OVERRIDES
